html { background:#fff url('../img/bg.png') no-repeat top left; min-height:1000px; padding-top:122px; }
body { width:980px; margin:0 auto; font-family:Helvetica,sans-serif; }

h1 { font-size:24px; }

div.toolbar { margin:20px 0; }
div.toolbar div.btn { float:left; display:block; line-height:24px; height:24px; padding:0 10px;
	border:solid 1px #B3B3B3; font-weight:bold; color:#626262; margin-right:10px; border-radius:4px;
	text-shadow:0 1px 0 #FFF; cursor:pointer; position:relative; background:#f0f0f0;
	background:-moz-linear-gradient(top, #f7f7f7, #DEDEDE); background:-webkit-linear-gradient(top, #f7f7f7, #DEDEDE);
    background:-ms-linear-gradient(top, #f7f7f7, #DEDEDE); background:-o-linear-gradient(top, #f7f7f7, #DEDEDE);
    -moz-transition:border 0.2s ease 0s; -webkit-transition:border 0.2s ease 0s; }
div.toolbar div.btn span.title { display:none; }
div.toolbar div.btn span.title:before { content:""; display:inline-block; width:0; height:0; border-left:10px solid transparent;
	border-right:10px solid transparent; border-bottom:10px solid #484848; position:absolute; top:-5px; left:4px;
	border-radius:2px; }
div.toolbar div.btn:hover { border-color:#555; box-shadow:0 1px 2px rgba(80, 80, 80, 0.25); color:#282828;
	background:#dfdfdf;
	background:-moz-linear-gradient(top, #fff, #dfdfdf); background:-webkit-linear-gradient(top, #fff, #dfdfdf);
    background:-ms-linear-gradient(top, #fff, #dfdfdf); background:-o-linear-gradient(top, #fff, #dfdfdf); }
div.toolbar div.btn:hover span.title { display:block; position:absolute; top:32px; left:6px; white-space:nowrap;
	font-size:12px; background:#484848; color:#FFF; text-shadow:none; padding:0 5px; letter-spacing:0.5px;
	line-height:20px; height:20px; border-radius:4px; }
div.toolbar div.btn span.label { display:block; background-position:center; background-repeat:no-repeat; width:20px;
	height:24px; }
div.toolbar div.btn.folder span.label { background-image:url('../img/folder.png'); }
div.toolbar div.btn.folder:hover span.label { background-image:url('../img/folder-dark.png'); }
div.toolbar div.btn.tags span.label { background-image:url('../img/tags.png'); }
div.toolbar div.btn.tags:hover span.label { background-image:url('../img/tags-dark.png'); }
div.toolbar div.btn.trash span.label { background-image:url('../img/trash.png'); }
div.toolbar div.btn.trash:hover span.label { background-image:url('../img/trash-dark.png'); }
div.toolbar div.btn.maths span.label { background-image:url('../img/maths.png'); }
div.toolbar div.btn.maths:hover span.label { background-image:url('../img/maths-dark.png'); }
div.toolbar div.right { float:right; }
div.toolbar:after { content:""; display:block; height:0; clear:both; visibility:hidden; }

table { border-bottom:1px solid #E5E5E5; }
table thead th { text-align:left; padding:2px 10px; text-transform:uppercase; color:gray; font-size:14px; }
table tbody tr:hover { background:#FFFFE6; }
table tbody tr.selected { background:#FFFFCC; }
table td { padding:10px; border-top:1px solid #E5E5E5; }
table td.datetime { white-space:nowrap; }

table tbody tr span.favorite { display:block; background:url('../img/favorite.png') no-repeat center; width:16px;
	height:16px; position:relative; cursor:pointer; }
table tbody tr span.favorite.active { background-image:url('../img/favorite-active.png'); }
table tbody tr span.favorite span.title { display:none; font-weight:bold; }
table tbody tr span.favorite:hover span.title { display:block; position:absolute; top:26px; left:-4px; white-space:nowrap;
	font-size:12px; background:#484848; color:#FFF; text-shadow:none; padding:0 5px; letter-spacing:0.5px;
	line-height:20px; height:20px; border-radius:4px; }
table tbody tr span.favorite span.title:before { content:""; display:inline-block; width:0; height:0; border-left:10px solid transparent;
	border-right:10px solid transparent; border-bottom:10px solid #484848; position:absolute; top:-5px; left:4px;
	border-radius:2px; }

table a { text-decoration:none; color:#000; display:inline; }
table a:hover { text-decoration:underline; color:blue; }

table h2, table p, table ul, table ul li { display:inline; }

table div.tags { display:inline; white-space:nowrap; }
table div.tags ul li { background:gray; color:white; font-size:12px; font-weight:bold; }