[draggable=true] { -khtml-user-drag:element; -webkit-user-drag:element; -khtml-user-select:none; -webkit-user-select:none; }

html { background:#fff url('../img/bg.png') no-repeat top left; min-height:1000px; padding-top:122px; }
body { width:980px; margin:0 auto; font-family:"Myriad Pro",Arial,Garuda,Helvetica,Tahoma,sans-serif; }

div.clearafter:after { content:""; display:block; height:0; clear:both; visibility:hidden; }

h1 { font-size:24px; font-weight:normal; color:#5C0075; margin-top:14px; }
h2 { font-size:20px; font-weight:normal; color:#5C0075; }
h3 { font-size:18px; }

div.toolbar { margin:20px 0; background:#FCFCFC; border:1px solid #F4F4F4; border-width:1px 0; padding:6px;
	font-size:12px; }
div.toolbar div.btn { float:left; display:block; line-height:24px; height:24px; padding:0 10px;
	border:solid 1px #B3B3B3; font-weight:bold; color:#626262; margin-right:10px; border-radius:4px;
	text-shadow:0 1px 0 #FFF; cursor:pointer; position:relative; background:#f0f0f0;
	background:-moz-linear-gradient(top, #f7f7f7, #DEDEDE); background:-webkit-linear-gradient(top, #f7f7f7, #DEDEDE);
    background:-ms-linear-gradient(top, #f7f7f7, #DEDEDE); background:-o-linear-gradient(top, #f7f7f7, #DEDEDE);
    -moz-transition:border 0.4s ease 0s; -webkit-transition:border 0.4s ease 0s; }
div.toolbar div.btn span.description { display:none; z-index:2; }
div.toolbar div.btn span.description:before { content:""; display:inline-block; width:0; height:0; border-left:5px solid transparent;
	border-right:5px solid transparent; border-bottom:5px solid #484848; position:absolute; top:-5px; left:7px; }
div.toolbar div.btn:hover { border-color:#555; box-shadow:0 1px 2px rgba(80, 80, 80, 0.25); color:#282828;
	background:#dfdfdf;
	background:-moz-linear-gradient(top, #fff, #dfdfdf); background:-webkit-linear-gradient(top, #fff, #dfdfdf);
    background:-ms-linear-gradient(top, #fff, #dfdfdf); background:-o-linear-gradient(top, #fff, #dfdfdf); }
div.toolbar div.btn:hover span.description { display:block; position:absolute; top:32px; left:6px; white-space:nowrap;
	font-size:12px; background:#484848; color:#FFF; text-shadow:none; padding:0 5px; letter-spacing:0.5px;
	line-height:20px; height:20px; border-radius:4px; }
div.toolbar div.btn span.label { display:block; background-position:center; background-repeat:no-repeat; width:20px;
	height:24px; }
div.toolbar div.btn.folder span.label { background-image:url('../img/add-folder.png'); }
div.toolbar div.btn.folder:hover span.label { background-image:url('../img/add-folder-dark.png'); }
div.toolbar div.btn.organize span.label { background-image:url('../img/organize.png'); }
div.toolbar div.btn.organize:hover span.label { background-image:url('../img/organize-dark.png'); }
div.toolbar div.btn.tags span.label { background-image:url('../img/tags.png'); }
div.toolbar div.btn.tags:hover span.label { background-image:url('../img/tags-dark.png'); }
div.toolbar div.btn.trash span.label { background-image:url('../img/add-to-trash.png'); }
div.toolbar div.btn.trash:hover span.label { background-image:url('../img/add-to-trash-dark.png'); }
div.toolbar div.btn.maths span.label { background-image:url('../img/maths.png'); }
div.toolbar div.btn.maths:hover span.label { background-image:url('../img/maths-dark.png'); }
div.toolbar div.btn.restore span.label { background-image:url('../img/restore-list.png'); }
div.toolbar div.btn.restore:hover span.label { background-image:url('../img/restore-list-dark.png'); }
div.toolbar div.right { float:right; }

table { border-bottom:1px solid #DCC8E2; width:100%; margin-bottom:40px; }
table h2 { margin:0; }
table thead th { text-align:left; padding:2px 10px; text-transform:uppercase; color:gray; font-size:14px; }
table tbody tr:nth-child(2n+1) { background:#FCFAFD; }
table tbody tr:hover { background:#FFFFE6; -moz-transition:background 0.4s ease 0s; -webkit-transition:background 0.4s ease 0s; }
table tbody tr.selected { background:#FFFFCC; }
table tbody td { padding:10px; vertical-align:middle; border-top:1px solid #DCC8E2; }
table th.first,
table td.first { padding:10px 0 10px 10px; }
table th.second,
table td.second { padding:10px 5px; }

table tbody tr span.favorite { display:block; background:url('../img/favorite.png') no-repeat center; width:16px;
	height:16px; position:relative; cursor:pointer; }
table tbody tr span.favorite.active { background-image:url('../img/favorite-active.png'); }
table tbody tr span.favorite span.description { display:none; font-weight:bold; z-index:2; }
table tbody tr span.favorite:hover span.description { display:block; position:absolute; top:26px; left:-4px; white-space:nowrap;
	font-size:12px; background:#484848; color:#FFF; text-shadow:none; padding:0 5px; letter-spacing:0.5px;
	line-height:20px; height:20px; border-radius:4px; }
table tbody tr span.favorite span.description:before { content:""; display:inline-block; width:0; height:0; border-left:5px solid transparent;
	border-right:5px solid transparent; border-bottom:5px solid #484848; position:absolute; top:-5px; left:7px; }

table tbody tr td.second { background-repeat:no-repeat; background-position:center; }
table tbody tr.list.foldered { padding-left:40px; }
table tbody tr.folder td.second { background-image:url('../img/folder.png'); width:18px; height:17px; margin-right:11px; }

table div.name { float:left; }
table div.name a { -moz-transition:color 0.3s ease 0s; -webkit-transition:color 0.3s ease 0s; text-decoration:none; color:#282828;
	position:relative; }
table div.name h2 { font-size:14px; color:#5C0075; }
table div.name h2:hover { text-decoration:underline; }
table tr.selected div.name h2 { font-weight:bold; }
table div.name div.description { display:none; position:absolute; top:26px; left:-4px; font-size:12px;
	background:#484848; color:#FFF; text-shadow:none; padding:0 5px; letter-spacing:0.5px; line-height:20px;
	border-radius:4px; z-index:2; min-width:300px; }
table div.name div.description p { white-space:normal; }
table div.name div.description:before { content:""; display:inline-block; width:0; height:0; border-left:5px solid transparent;
	border-right:5px solid transparent; border-bottom:5px solid #484848; position:absolute; top:-5px; left:7px; }
table div.name a:hover div.description { display:block; }

table tbody td.type { font-size:13px; }
table tbody td.datetime { white-space:nowrap; font-size:13px; }

div.tags { display:block; float:left; white-space:nowrap;}
div.tags ul { margin-left:10px; float:left; }
div.tags ul li { display:block; float:left; }
div.tags ul li a { background:#DEDEDE; font-size:12px; font-weight:bold; border-radius:4px; line-height:18px; height:18px;
	color:#626262; padding:0 8px; margin-right:6px; text-decoration:none; cursor:default; display:block;
	background:-moz-linear-gradient(top, #F7F7F7, #DEDEDE); background:-webkit-linear-gradient(top, #F7F7F7, #DEDEDE);
    background:-ms-linear-gradient(top, #F7F7F7, #DEDEDE); background:-o-linear-gradient(top, #F7F7F7, #DEDEDE); }
div.tags ul li a span.label { background-repeat:no-repeat; background-position:0 1px; }
div.tags ul li a.organic { color:#FFF; background:#35C53D;
	background:-moz-linear-gradient(top, #35C53D, #2DA633); background:-webkit-linear-gradient(top, #35C53D, #2DA633);
    background:-ms-linear-gradient(top, #35C53D, #2DA633); background:-o-linear-gradient(top, #35C53D, #2DA633); }
div.tags ul li a.public { color:#FFF; background:#3D6AF0;
	background:-moz-linear-gradient(top, #3D6AF0, #3359C9); background:-webkit-linear-gradient(top, #3D6AF0, #3359C9);
    background:-ms-linear-gradient(top, #3D6AF0, #3359C9); background:-o-linear-gradient(top, #3D6AF0, #3359C9); }
div.tags ul li a.public span.label { background-image:url('../img/public.png'); padding-left:18px; }
div.tags ul li a.private { color:#FFF; background:#C93E3E;
	background:-moz-linear-gradient(top, #C93E3E, #AB3535); background:-webkit-linear-gradient(top, #C93E3E, #AB3535);
    background:-ms-linear-gradient(top, #C93E3E, #AB3535); background:-o-linear-gradient(top, #C93E3E, #AB3535); }
div.tags ul li a.private span.label { background-image:url('../img/private.gif'); padding-left:16px; }

#body-overlay { display:none; z-index:9; background:#FFF; background:rgba(255, 255, 255, 0.8); position:absolute; top:0; left:0;
	width:100%; height:100%; }
#body-overlay div.popup { display:none; background:#FFF; margin:0 auto; margin-top:20%; border:1px solid #A9A9A9; padding:30px;
	box-shadow:0 1px 6px rgba(80, 80, 80, 0.4); width:500px; }

#body-overlay h2 { font-size:20px; font-weight:normal; color:#5C0075; margin-bottom:20px; }
#body-overlay table h2 { margin:0; font-size:14px; }
#body-overlay h3 { margin-bottom:10px; color:#282828; }
#body-overlay p { font-size:13px; margin:-10px 0 20px 0; color:#626262; }
#body-overlay p.warning { font-weight:bold; color:#AB3535; margin:10px 0 5px 0; }
#body-overlay table p { color:#FFF; margin:0; font-size:12px; }
#body-overlay input[type="text"] { border-width:1px; border-style:solid; border-color:#D9D9D9; border-top-color:#C0C0C0;
	padding:6px; display:block; margin-bottom:20px; width:286px; font-family:"Myriad Pro",Arial,Garuda,Helvetica,Tahoma,sans-serif; }
#body-overlay input[type="text"]:focus { background:#FFFFE6; }

#body-overlay div.divider { display:block; width:100%; height:1px; background:#EDEDED; margin:15px 0 20px 0; }
#body-overlay div.box { border:1px solid #F2F2F2; padding:10px; margin-bottom:20px; }
#body-overlay div.box.first { border-bottom:0; margin-bottom:0; }
#body-overlay div.box.height { overflow-y:auto; max-height:300px; }
#body-overlay div.fifty { float:left; width:50%; margin-bottom:20px; }
#body-overlay div.dropzone { border:3px dashed #EDEDED; background:#FCFCFC; min-height:100px; border-radius:10px;
	padding:10px; }
#body-overlay div.dropzone span.nfo { color:#DBDBDB; text-transform:uppercase; font-weight:bold; font-size:14px; display:block;
	text-align:center; margin:0 0 10px 0; }
#body-overlay div.tags { float:none; }
#body-overlay div.tags ul { margin-left:0; }
#body-overlay div.tags ul li { margin-bottom:5px; }
#body-overlay div.tags ul li a { cursor:move; position:relative; }
#body-overlay div.dropzone div.tags ul li a { cursor:default; }
#body-overlay div.tags ul li a span.remove { display:none; border-left-width:1px; border-left-style:solid; padding:0 0 0 7px;
	margin-left:4px; cursor:pointer; font-weight:normal; }
#body-overlay div.dropzone div.tags ul li a span.remove { display:inline-block; }
#body-overlay div.tags.available li.active { display:none; }
#body-overlay div.tags ul li a span.description { display:none; position:absolute; top:26px; left:-4px; font-size:12px;
	background:#484848; color:#FFF; text-shadow:none; padding:0 5px; letter-spacing:0.5px; line-height:20px;
	border-radius:4px; z-index:2; }
#body-overlay div.tags ul li a span.description:before { content:""; display:inline-block; width:0; height:0;
	border-left:5px solid transparent; border-right:5px solid transparent; border-bottom:5px solid #484848; position:absolute;
	top:-5px; left:13px; }
#body-overlay div.tags ul li a:hover span.description { display:block; }

#body-overlay div.btn { line-height:24px; height:24px; padding:0 10px; font-weight:bold; margin-right:10px; border-radius:4px;
	text-shadow:0 1px 0 #FFF; cursor:pointer; position:relative; -moz-transition:border 0.4s ease 0s;
	-webkit-transition:border 0.4s ease 0s; display:inline-block; }
#body-overlay div.btn.gray { border:solid 1px #B3B3B3; color:#626262; background:#f0f0f0;
	background:-moz-linear-gradient(top, #f7f7f7, #DEDEDE); background:-webkit-linear-gradient(top, #f7f7f7, #DEDEDE);
    background:-ms-linear-gradient(top, #f7f7f7, #DEDEDE); background:-o-linear-gradient(top, #f7f7f7, #DEDEDE); }
#body-overlay div.btn.gray:hover { border-color:#555; box-shadow:0 1px 2px rgba(80, 80, 80, 0.25); color:#282828;
	background:#dfdfdf; background:-moz-linear-gradient(top, #fff, #dfdfdf); background:-webkit-linear-gradient(top, #fff, #dfdfdf);
    background:-ms-linear-gradient(top, #fff, #dfdfdf); background:-o-linear-gradient(top, #fff, #dfdfdf); }
#body-overlay div.btn.green { border:solid 1px #25862A; color:#FFF; text-shadow:0 1px 0 #25862A; background:#35C53D;
	background:-moz-linear-gradient(top, #35C53D, #2DA633); background:-webkit-linear-gradient(top, #35C53D, #2DA633);
    background:-ms-linear-gradient(top, #35C53D, #2DA633); background:-o-linear-gradient(top, #35C53D, #2DA633); }
#body-overlay div.btn.green:hover { border-color:#30AD36; box-shadow:0 1px 2px rgba(80, 80, 80, 0.25);
	background:#3CE045; background:-moz-linear-gradient(top, #3CE045, #35C53D); background:-webkit-linear-gradient(top, #3CE045, #35C53D);
    background:-ms-linear-gradient(top, #3CE045, #35C53D); background:-o-linear-gradient(top, #3CE045, #35C53D); }