/* mixins */
gradient(beginColor, endColor)
    background: -moz-linear-gradient(left, beginColor 0%, endColor 100%)
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, beginColor), color-stop(100%, endColor))
    background: -webkit-linear-gradient(left, beginColor 0%, endColor 100%)
    background: -o-linear-gradient(left, beginColor 0%, endColor 100%)
    background: -ms-linear-gradient(left, beginColor 0%, endColor 100%)
    background: linear-gradient(to right, beginColor 0%, endColor 100%)

/* vars */
$primaryColor =       #485B79 // Blue Bayoux
$secondaryColor =     #32415A // Pickled Bluewood
$tertiaryColor =      #FB9337 // Neon Carrot

$inactiveColor =      #DDD    // Alto
$inactiveHoverColor = #BBB    // Silver

$tableEvenRow =       #F7F7F7 // Alabaster
$tableOddRow =        #FFF    // White...
$tableBorder =        #EEE    // Gallery

/* fonts */
@font-face
    font-family: 'RobotoRegular'
    src: url('../fonts/roboto-regular-webfont.woff') format('woff')
    font-weight: normal
@font-face
    font-family: 'RobotoBold'
    src: url('../fonts/roboto-bold-webfont.woff') format('woff')
    font-weight: bold

a.brand
    font-family: 'RobotoRegular'

h1, h2, h3, h4, h5, .nav-tabs, .nav-list, .btn
    font-family: 'RobotoBold'

/* links */
a, a:hover,
#main table tr td [class^="icon-"]
    color: $primaryColor

/* modal */
.modal-footer
    background: $tableEvenRow

/* form elements */
select, textarea, input[type="text"]
    border-radius: 2px

input[type="text"]:focus
    border-color: $tertiaryColor
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(251,147,55,0.6)

.btn
    -webkit-appearance: none
    border-radius: 2px
    
    &.btn-primary
        background: #435673
        background-image: -webkit-linear-gradient(top, #435673, $secondaryColor)
        text-shadow: 1px 1px 1px #2b384e


/* notifications */
.alert
    border-radius: 2px
    box-shadow: inset 0 1px 0 rgba(250,250,250,0.8)
    border: 1px solid #eac572
    background: #ffe9ad

    .alert-success
        border: 1px solid #c1d779
        background: #effeb9    
    .alert-info
        border: 1px solid #99c4ea
        background: #d1e4f3


/* table */
.table
    border: 1px solid $inactiveColor
    th
        border-color: $inactiveColor
    td
        border-color: $tableBorder
    thead tr th
        border-bottom: 1px solid $inactiveColor
    tr th:not(:last-child)
        border-right: 1px solid $inactiveColor
    tr td:not(:last-child)
        border-right: 1px solid $tableBorder
    tbody tr:first-child td
        border-top: 0
    &.table-striped tbody tr:nth-child(odd) td
        background: $tableOddRow
    &.table-striped tbody tr:nth-child(even) td
        background: $tableEvenRow


/* nav tabs */
.nav-tabs
    > li.active > a,
    > li.active > a:hover
        background: $tableOddRow
    > li > a
        border-radius: 2px 2px 0 0
        border-color: #CCC
        border-bottom: 0
        background: #CCC
        color: $tableOddRow

        &:hover
            background: $inactiveHoverColor
            border-color: #AAA
    
    > .active > a,
    > .active > a:hover
        color: $tertiaryColor


/* nav list */
.nav-list
    > .active > a
        text-shadow: none
        color: $tertiaryColor
        
        &:hover
            text-shadow: none
            color: $tertiaryColor
            background: #efefef
    [class^="icon-"]
        color: $inactiveColor
    > li > a:hover
        background: $tableOddRow
        color: $primaryColor
    a:hover [class^="icon-"]
        color: $inactiveHoverColor    
    .active > a [class^="icon-"]
        color: $tertiaryColor


ul.folders-tree
    .active > a,
    .active > a:hover
        background: $primaryColor
    > li > a
        margin-left: 0px
    a.folder.toggle.active
        color: $inactiveColor
        
        &:hover
            color: $inactiveHoverColor
    .active > a.folder.toggle.active,
    .active > a.folder.toggle.active:hover
        color: $tertiaryColor


/* navbar */
header#navbar
    border-bottom: 5px solid $tertiaryColor
    gradient #445773, #3C4E6C
    padding: 10px 20px
        
    .brand
        margin:10px 0 0 0
        padding:0
        color: $tableOddRow
        text-shadow: 1px 1px 1px #2b384e
        font-weight: bold
    
    /* navbar search */
    input[type="text"]
        border: 1px solid #445775
        border-radius: 2px
        background: $secondaryColor
        padding: 4px 14px
        box-shadow: inset 1px 1px 2px #2b384e
        
        &:focus
            color: #6a778d
        &::-webkit-input-placeholder
            color: #4a5b78


/* breadcrumb */
.breadcrumb
    background: $secondaryColor
    color: $tertiaryColor
    border-radius: 0

    li
        text-shadow: none
    li a
        color: $tertiaryColor


/* hovered over element */
.hover, .hover td
    background-color: $secondaryColor !important

.hover, .hover span, .hover a
    color: $tertiaryColor !important
    text-shadow: none !important