a { cursor:pointer; }

.navbar-inner { border-radius:0; }
.nav-tabs.nav-stacked > li:last-child > a { border-radius:0; }
.nav-list { padding:0 0 0 15px; }

ul#folders { cursor:pointer; padding:0; }
ul#folders ul.lists { padding-left:16px; }
ul#folders li { position:relative; }
ul#folders li a { padding:3px 15px; border:0; margin-right:0; }
ul#folders .folder.toggle { display:none; }
ul#folders .folder.toggle.active { display:block; position:absolute; top:4px; left:0; padding:0; }
ul#folders .folder.toggle.active:hover { cursor:pointer; }

ul#breadcrumb li:not(:last-child) { margin-right:5px; }
ul#breadcrumb li:not(:last-child):after { content:"/"; display:inline-block; }
ul#breadcrumb li a.home { margin-right:5px; }

#main table.table tr td [class^="icon-"] { color:#DD4814; }

/* a draggable element when moving */
.moving { cursor:pointer; box-shadow:2px 2px 3px rgba(50, 50, 50, 0.15); background:#FFF; padding:8px; border:1px solid #DDD; }
/* a droppable folder when hovered over */
.hover, .hover td { background-color:#DD4814 !important; }
.hover span, .hover a { color:#FFF !important; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.2) !important; }

#toolbar .btn,
#toolbar .btn-group { display:block; margin-bottom:10px; }

#filtering input { margin:6px 0 0 10px; }

/* Growl notifications */
ul#notifications { position:fixed; top:10px; right:20px; z-index:1; color:#000; }
ul#notifications li { margin-bottom:5px; list-style-type:none; border:1px solid #EEE; border-bottom-color:#CACACA;
	border-radius:3px; box-shadow:0 1px 4px 0 #DDD; position:relative; width:250px; background:#FFF; }
ul#notifications li div { padding:15px 20px; }
ul#notifications li div h1 { margin:0 0 5px 0; font-size:16px; font-weight:normal; }
ul#notifications li div a { position:absolute; top:3px; right:10px; cursor:pointer; color:#888; font-size:16px;
	font-weight:bold; }
ul#notifications li div p { margin:0; padding:0; }