.navbar-inner { border-radius:0; }

footer { text-align:center; }

table#table tr.selected td { background:#FFF6D9; border-top-color:#FFC40D; }

#toolbar .btn,
#toolbar .btn-group { display:block; margin-bottom:10px; }