a { cursor:pointer; }

.navbar-inner { border-radius:0; }
.nav-tabs.nav-stacked > li:last-child > a { border-radius:0; }
.nav-list { padding:0 15px; }
.nav-list a:hover { color:#08C; text-shadow:none; }

ul#folders { cursor:pointer; }
ul#folders li ul { display:none; }
ul#folders li ul.active { display:block; }

table#table tr.selected td { background:#FFF6D9; border-top-color:#FFC40D; }

#toolbar .btn,
#toolbar .btn-group { display:block; margin-bottom:10px; }

footer { text-align:center; }