a { cursor:pointer; }

.navbar-inner { border-radius:0; }
.nav-tabs.nav-stacked > li:last-child > a { border-radius:0; }
.nav-list { padding:0 0 0 15px; }

ul#folders { cursor:pointer; padding:0; }
ul#folders ul.lists { padding-left:16px; }

table#table tr.selected td { background:#FFF6D9; border-top-color:#FFC40D; }

#toolbar .btn,
#toolbar .btn-group { display:block; margin-bottom:10px; }

footer { text-align:center; }

/* Which View? */
#data-view-label { position:absolute; bottom:0; right:10px; z-index:2; box-shadow:1px 1px 3px #BBB; }

/* Growl notifications */
ul#notifications { position:fixed; top:10px; right:20px; z-index:1; color:#000; }
ul#notifications li { margin-bottom:5px; list-style-type:none; border:1px solid #EEE; border-bottom-color:#CACACA;
	border-radius:3px; box-shadow:0 1px 4px 0 #DDD; position:relative; width:250px; background:#FFF; }
ul#notifications li div { padding:15px 20px; }
ul#notifications li div h1 { margin:0 0 5px 0; font-size:16px; font-weight:normal; }
ul#notifications li div a { position:absolute; top:3px; right:10px; cursor:pointer; color:#888; font-size:16px;
	font-weight:bold; }
ul#notifications li div p { margin:0; padding:0; }